@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$green: #309b32;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */


body {
  font-family: 'Open Sans', sans-serif;
  background-color: #000;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.arrow {
  padding: 20% 0 0 0;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: $gray-dark;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.entry-header .inner {
    text-align: left;
    margin: 0 auto 20px auto;
    width: 800px;
}
.entry-header { padding-top: 20px; background-color: #fff; width:100%; position: fixed; top: 0; left: 0; z-index: 999999}

table {
    margin: 0 auto;
}
table img {
    width: 100px;
    height: auto;
    padding: 15px;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: $green;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}



/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */
.footer { background: $gray-darker; }
footer {
//  margin-top: 45px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a ,a:visited {
    color: $green;
    &:hover {
        color: $gray-light;
        text-decoration:none;
      }
  }
  nav {
    display:inline;
  }
  .info {
    font-size:2em;
    text-transform:uppercase;
    font-weight:bold;
  }
  ul {
    padding: 0;
    text-align:center;
    list-style: none;
    li {
      display:inline-block;
      margin: 3%;
      text-align: center;
    }
  }
  .post-footer {
    background-color: #000;
    padding:7px;
    text-align:center;
  }
}

@media (max-width: 1024px) {
  .fa-stack {
    font-size: 2em;
  }
  .footer .info {
      font-size: 1em;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  //@include box_sizing;
}


/* Parallax */

body, html {
	height: 100%;
	min-height: 100%;
}

.loading {
	background: image-url('ico_loading.gif') no-repeat center center;
}
section {
	//min-width: 960px;
  // opacity: 0; 
}

.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}

main {
	overflow-x: hidden;
}

.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
}

.hsContainer {
	display: table;
	table-layout: fixed;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent h2,
.copy h2 {
	color: #ffffff;
	margin-bottom: 12px;
}

.hsContent {
	max-width: 550px;
	margin: -150px auto 0 auto;
	display: table-cell;
	vertical-align: middle;
	color: #ebebeb;
	padding: 0 8%;
	text-align: center;
  p {
  	margin: 0 auto;
  	color: $gray-lighter;
  }
  a {
  	color: $green;
  	text-decoration: underline;
  }
  h3 {
    color:#fff;
  }
}

.bgBlack {
	background-color: rgba(0,0,0,0.75);
	padding: 3px 10px;
}

.homeSlide .bcg {
  padding: 10% 0 25% 0;
}

/* Slide 1 */

/* Slide 2 */
#slide-2 .bcg{
  background-image: image-url('bcg_me.jpg');
    padding: 10% 0 10% 0;
}
.centered {
  .ui-tabs-nav {
    text-align: center;
    background:none;
    margin:18px 0;
    li {
      display: inline-block;
      float: none;
      margin: 0 20px;
      border-radius:4px;
      box-shadow: 1px 1px 1px #888888;
    }
  }
}

.ui-tabs {
  background:none;
  border:none;
  p {
    color: $gray-dark;
  }
  .ui-tabs-panel {
    background: rgba(255,255,255,.7);
    border-radius: 4px;
    a {
      color: $green;
    }
  }
}

// Slide 3
#slide-3 .bcg{
    padding: 5% 0;
}

//Slide 4
#slide-4 {
  .hsContent {
  padding:0;
  margin:0;
  }
  .owl-carousel .item {
    display: block;
    width: 100%;
    height: 100%;
    background: no-repeat;
    background-size: cover;
    background-origin: center center;
  }
  .owl-item {
    height:100%;
  }
  
   .reason {
      width: 100%;
      min-height: 500px;
      margin: 0 auto;
      padding:5%;
      background: rgba(0,0,0,.7);
      p {
        color:$gray-lighter;
      }
    }
  
  @media (min-width: 1025px) {
    .reason {
      width: 50%;
      min-height: 500px;
      margin: 0 auto;
      padding:5%;
      background: rgba(0,0,0,.7);
      p {
        color:$gray-lighter;
      }
    }
  }
  
  .owl-controls {
    margin-top: -60px;
  }
  .owl-pagination {
    position: relative;
    top: 20px;
  }
  .owl-buttons {
    position: relative;
    top: -210px;
    background:$gray-light;
    div {
      opacity: .75;
    }
    .owl-prev {
      float: left;
      margin-left: 20%;
    }
    .owl-next {
      float: right;
      margin-right: 20%;
    }
  }
}

//Slide 5
#slide-5 .bcg {
  padding: 0 0 20px 0;
}
//Slide 6
#slide-6 .bcg {
  background: #000;
  padding: 0 0 20px 0;
}