@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-family: 'Open Sans', sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */
.footer { background: $gray-darker; }
footer {
  margin-top: 45px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a ,a:visited {
    color: #309b32;
    &:hover {
        color: $gray-light;
        text-decoration:none;
      }
  }
  nav {
    display:inline;
  }
  .info {
    font-size:2em;
    text-transform:uppercase;
    font-weight:bold;
  }
  ul {
    padding: 0;
    text-align:center;
    list-style: none;
    li {
      display:inline-block;
      margin: 3%;
      text-align: center;
    }
  }
  .post-footer {
    background-color: #000;
    padding:7px;
    text-align:center;
  }
}